<h3>Show Group Members "<%= @group.name %>"</h3>

<table>
  <tr>
    <td>Member ID</td>
    <td>Member Email</td>
  </tr>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.id %></td>
      <td><%= member.email %></td>
    </tr>
  <% end %>
</table>
