<a href="/galleries/new">Create a new gallery</a>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @galleries.each do |gallery| %>
    <tr>
      <td><%= gallery.name %></td>
      <td><%= gallery.description %></td>
      <td><a href="/galleries/<%= gallery.id %>">Show</a></td>
    </tr>
  <% end %>
</table>
