<h1><a href="/">Pixtr says Hi</a></h1>

<a href="/galleries/new">Make a new gallery</a>

<ul>
  <% @galleries.each do |gallery| %>
    <li><a href="/galleries/<%= gallery.id %>"><%= gallery.name %></a> - <%= gallery.description %></li>
  <% end %>
</ul>

