<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @gallery.name %></td>
    <td><%= @gallery.description %></td>
  </tr>
</table>

<hr />

<a href="/galleries/<%= @gallery.id %>/edit">Edit</a>
