<h3>Show All Images in "<%= @gallery.name %>"</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Gallery ID</th>
  </tr>
  <% @gallery.images.each do |image| %>
    <tr>
      <td><%= link_to image.name, "/galleries/#{@gallery.id}/images/#{image.id}" %></td>
      <td><%= link_to "View Image", image.url %></td>
      <td><%= image.gallery_id %></td>
    </tr>
  <% end %>
</table>
