.header {
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #F2F2F2;
}

.header-container {
  padding-left: 17em;
  padding-right: 17em;
}

.body {
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding-left: 15em;
  padding-right: 15em;
  /* background-image: url("background.jpg"); */
}

.main {
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.footer {
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  position: relative;
  font-size: 12px;
  text-align: right;
  color: #777;
  border-top: 1px solid #eee;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

table {
  margin: 1em;
  border: 1px;
  box-shadow: 3px 3px 3px #888888;
  text-align: center;
}

.header-logo img {
  float: left;
  max-height: 30px;
  margin-right: 2em;
}

th {
  padding: 0.5em;
  background-color: #FAFAFA;
}

td {
  padding: 1em;
  background-color: #FAFAFA;
}

.gallery_images img {
  max-width: 100%;
}
