/* ============ */
/* == header == */
/* ============ */
.header {
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: bold;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F2F2F2;
}

.header-container {
  padding-left: 17em;
  padding-right: 17em;
  margin-top: auto;
  margin-bottom: auto;
}

.header-logo img {
  float: left;
  display: block;
  max-height: 35px;
  margin-right: 2em;
  padding-top: 4px;
  text-align: center;
}

.header-title {
  font-size: 37px;
}

.signup-login {
  float: right;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ========== */
/* == body == */
/* ========== */
.body {
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 1em 15em 2em 15em;
  /* background-image: url("background.jpg"); */
}

.main {
  margin-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.flash-message {
  text-align: center;
}

.footer {
  font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  position: relative;
  font-size: 12px;
  text-align: right;
  color: #777;
  border-top: 1px solid #eee;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

table {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px;
  box-shadow: 3px 3px 3px #888888;
  text-align: center;
  border-radius: 10px;
}

/* .header-nav-link ul { */
/*   list-style-type: none; */
/*   display: block; */
/* } */

th {
  padding: 0.5em;
  background-color: #FAFAFA;
}

td {
  padding: 1em;
  background-color: #FAFAFA;
}

/* ============== */
/* == form box == */
/* ============== */
.form-new-edit {
  /* center the form */
  width: 50%;
  margin: 0 auto;
}

/* form */
form {
  width: 100%;
}

/* label and input text */
label, input {
  margin: 3px 0 3px 0;
  display: inline-block;
}

label {
  width: 30%;
  text-align: right;
}

/* input text */
label + input {
  width: 40%;
  height: 1.5em;
  text-align: center;
}

/* submit bottom */
.submit-buttom {
  width: 45%;
  text-align: right;
  margin: 0 auto;
}

/* images */
.gallery_images img {
  max-width: 100%;
}

.gallery_image_list img {
  height: auto;
  width: 150px;
}

/* new and edit header */
.header-new-edit {
  text-align: center;
}

/* error messages */
.error-messages {
  text-align: center;
  font-size: 0.8em;
  color: red;
  list-style-type: none;
}

.error-messages ul {
  list-style-type: none;
}
